fastapi[all]==0.75.1
geopandas==0.10.2
uvicorn[standard]==0.15.0
pydantic[dotenv]==1.9.0
protobuf==3.20.0
rtree==1.0.0
schedule==1.1.0
setproctitle==1.2.3
starlette==0.17.1
pandas==1.4.2
requests==2.27.1
Shapely==1.8.5.post1
pygeos==0.13
pyproj==3.3.0
geojson-pydantic==0.3.3
watchdog==3.0.0
