<!DOCTYPE html>

<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TODO">
    <meta name="author" content="TODO">

    <title>Amarillo</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
</head>

<body>

<div class="starter-template">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div>

                    {% block content %}
                    <div class="content">
                        THIS PAGE HAS NO CONTENT
                    </div>
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>